<h2>List api service</h2>
<p>
  To get a page of objects use the <code>list</code> method of the Api class. The objects returned by the subscriber
  use your model's serializer. This method can be used in conjunction with other methods like <code>filter</code>,
  <code>page</code>, <code>search</code>, and more.
</p>
<mat-card>
  <app-list-pokemon></app-list-pokemon>
</mat-card>

<app-github-code [files]="listPokemonFiles" root="angularDemo"></app-github-code>

<h2>Working with the pages</h2>
<p>
  The list method returns the first page by default. The returned object is of type <code>Page</code> and has methods to
  go to the previous page and to the next page.
</p>
<mat-card>
  <app-paginate-pokemon></app-paginate-pokemon>
</mat-card>

<app-github-code [files]="paginatePokemonFiles" root="angularDemo"></app-github-code>

<h2>Get all items from server</h2>
<p>
</p>
<mat-card>
  <app-all-shape></app-all-shape>
</mat-card>

<app-github-code [files]="allShapeFiles" root="angularDemo"></app-github-code>
