*
!docs/*.txt
!docs/*.py
!docs/*.rst
!docs/Makefile
!docs/_static
!demo/angular/src
!demo/angular/*.json
!src/angular/projects
!src/angular/*.json
!LICENSE
!*.in
!setup.*
!src/django/angular_django
!demo/django/*.txt
!demo/django/*.py
!demo/django/demo
!demo/django/pokedex
!compose/
