<h1>Angular Django</h1>
<em class="subtitle">Work in Angular as in Django</em>

<p>Use the methods and filters available in the Django Rest Framework to work with the API.</p>
<app-code-highlight [code]="CODE_EXAMPLE_1"></app-code-highlight>

<p>Build forms in minutes. Includes validation on frontend and backend. Selector choices are built with the server.</p>

<p>Easy-to-implement filtering, paging, and searching listings.</p>

<p>Use your Django classes and types in Angular. The library will transform the API values to the correct types.</p>

<h2>How does it work?</h2>
<p>Angular generates typescript classes from your Django Rest Framework viewsets and serializers classes.</p>

<p>In Angular Django the viewsets are called Apis and the serializers are called serializers too.</p>

<p>Use APIs to make requests to the API such as listing items. The elements will be instantiated using the serializers.</p>

<p>This project is under development. Play the demo on your machine, it is available with docker-compose.</p>

<p>You can contribute to this project on <a href="https://github.com/Nekmo/angular-django">Github</a>.</p>
