:host ::ng-deep {
  .display-flex {
    display: flex;

    [class*="flex-"] {
      padding-left: 10px;
    }

    [class*="flex-"]:first-child {
      padding-left: 0;
    }
  }

  .flex-1 { flex: 1; }

  .flex-2 { flex: 2; }

  .flex-3 { flex: 3; }

  .flex-4 { flex: 4; }

  .flex-5 { flex: 5; }

  .flex-6 { flex: 6; }
}

h1 {
  font-size: 400%;
}

.subtitle {
  font-size: 150%;
}


.flex {
  display: flex;
  align-items: center;

  p {
    font-size: 150%;
    line-height: 1.5;
  }

  .left {
    text-align: right;
    padding-right: 20px;
  }

  .right {
    text-align: left;
    padding-left: 20px;
  }
}
