<h1>Angular Django</h1>
<em class="subtitle">Work in Angular as in Django</em>

<div class="flex">
  <p class="left">Use the methods and filters available in the <strong>Django Rest Framework</strong> to work with the API.</p>
  <app-code-highlight [code]="CODE_EXAMPLE_1"></app-code-highlight>
</div>

<div class="flex">
  <app-form style="min-width: 50%"></app-form>
  <p class="right">
    Build <strong>forms</strong> in minutes. Includes
    <span style="color: #d14; border-bottom: 2px dotted #d14;">validation</span> on <em>frontend</em> and
    <em>backend</em>. Selector choices are built with the server.
  </p>
</div>

<div class="flex" style="margin-top: -20px;">
  <p>Easy-to-implement <em>filtering</em>, <em>paging</em>, and <em>searching </em> <strong>listings</strong>.</p>
  <app-list style="min-width: 60%"></app-list>
</div>

<div class="flex">
  <app-code-highlight [code]="CODE_EXAMPLE_2"></app-code-highlight>
  <p class="right">
    Use your <strong>Django classes</strong> and types <em>in Angular</em>. The library will transform
    the API values to the correct types.
  </p>
</div>

<h2>How does it work?</h2>

<div class="flex" style="flex-direction: column; align-items: flex-start">
  <p>Angular Django <strong>generates typescript classes</strong>
    from your <em>Django Rest Framework viewsets and serializers classes</em>.</p>
  <div style="display: flex;">
    <app-code-highlight [code]="CODE_EXAMPLE_3_1" style="margin-right: 10px;"></app-code-highlight>
    <app-code-highlight [code]="CODE_EXAMPLE_3_2" style="margin-left: 10px;"></app-code-highlight>
  </div>
</div>

<p>In Angular Django the viewsets are called Apis and the serializers are called serializers too.</p>

<p>Use APIs to make requests to the API such as listing items. The elements will be instantiated using the serializers.</p>

<p>This project is under development. Play the demo on your machine, it is available with docker-compose.</p>

<p>You can contribute to this project on <a href="https://github.com/Nekmo/angular-django">Github</a>.</p>
