<h2>First steps</h2>
Angular-django generates the classes for angular from your Django Rest Framework <em>viewsets</em> and
<em>serializers</em>. 2 types of classes are generated:

<ul>
  <li>
    The <code>ApiService</code> classes are created from the <strong>viewsets</strong>.
    It has the api methods. For example <em>list, retrieve, etc.</em>
  </li>
  <li>
    The <code>SerializerService</code> classes are created from the <strong>serializers</strong>.
    It has the properties of the objects returned by the api.
  </li>
</ul>

<p>For example from this <em>model, viewset and serializer</em>:</p>

<app-code-highlight code='
# models.py
# ---------

class Pokemon(models.Model):
    identifier = models.CharField(max_length=50, help_text=_("Pokemon name"))
    specie = models.ForeignKey(Specie, on_delete=models.CASCADE)
    height = models.PositiveSmallIntegerField()
    weight = models.PositiveSmallIntegerField()
    base_experience = models.PositiveSmallIntegerField()
    order = models.PositiveSmallIntegerField()
    is_default = models.BooleanField()
    added_at = models.DateTimeField()

# viewsets.py
# -----------

class PokemonViewSet(viewsets.ModelViewSet):
    queryset = Pokemon.objects.all()
    serializer_class = PokemonSerializer

# serializers.py
# --------------

class PokemonSerializer(serializers.HyperlinkedModelSerializer):
    specie = SpecieSerializer()

    class Meta:
        model = Pokemon
        exclude = ()


'></app-code-highlight>

<p>Using the <code>manage.py</code> command <code>angular_classes</code> these classes are generated:</p>

<app-code-highlight code="
///////////////////////////////////////
// Pokemon API
///////////////////////////////////////
export class Pokemon extends SerializerService {
     @Field() url: string;
     @Field() specie: Specie;
     @Field() identifier: string;
     @Field() height: number;
     @Field() weight: number;
     @Field() base_experience: number;
     @Field() order: number;
     @Field() is_default: boolean;
     @Field() added_at: Date;
     @Field() id: number;
}

@Injectable({
  providedIn: 'root'
})
export class PokemonApi extends ApiService {

    url = '/api/pokemon/';
    serializer = Pokemon;
    contentType = 'pokedex_pokemon';

    constructor(injector: Injector) {
        super(injector);
    }
}
"></app-code-highlight>

<p>Whenever you want to rebuild the classes for Angular run again from the console:</p>

<app-code-highlight code="$ python setup.py angular_classes"></app-code-highlight>

<p>
  Paste the terminal output to a file in your Angular project. For example <code>api.service.ts</code>. Angular-django
  doesn't update your existing classes. Edit your classes with the new changes from the terminal output.
</p>

<p>Now you can use the <code>PokemonApi</code> class to get interact with your Django Rest Framework api:</p>

<app-code-highlight code="
PokemonApi.retrieve(123).subscribe(obj: Pokemon => {  // Get pokemon with id 123
      obj.added_at.toLocaleString();  // added_at is returned as Date
      obj.specie.methodInCls();  // specie is returned as Specie and its methods are available
});
"></app-code-highlight>

<h2>This demo</h2>
<p>The demo of this documentation uses the following models, viewsets and serializers:</p>

<app-github-code [files]="tutorialFiles" root="djangoDemo"></app-github-code>
