
<h2>Installation</h2>
<p>angular-django consists of two packages: a package for Angular and an optional package for Django. To install the
  <strong>Angular package</strong>:</p>
<app-code-highlight code="$ npm i angular-django"></app-code-highlight>

<p>Import AngularDjangoModule in your app:</p>
<app-code-highlight code="
import &#123; AngularDjangoModule } from 'angular-django';

  @NgModule(&#123;
    imports: [
       AngularDjangoModule,
    ],
  &#125;)
  export class AppModule &#123; &#125;
"></app-code-highlight>

Enable <code>emitDecoratorMetadata</code> in the <code>compilerOptions</code> section of your <code>tsconfig.json</code>:

<app-code-highlight code='
{
  "compilerOptions": {
    "emitDecoratorMetadata": true
  }
}
'></app-code-highlight>

<!--<app-github-code [files]="tutorialFiles"></app-github-code>-->
