
<h2>Installation</h2>
<p>angular-django consists of two packages: a package for Angular and an optional package for Django. To install the
  <strong>Angular package</strong>:</p>
<app-code-highlight code="$ npm i angular-django"></app-code-highlight>

<p>Import AngularDjangoModule and HttpClientModule in your app:</p>
<app-code-highlight code="
import &#123; AngularDjangoModule } from 'angular-django';
import &#123; HttpClientModule } from '@angular/common/http';


  @NgModule(&#123;
    imports: [
       AngularDjangoModule,
       HttpClientModule,
    ],
  &#125;)
  export class AppModule &#123; &#125;
"></app-code-highlight>

Enable <code>emitDecoratorMetadata</code> in the <code>compilerOptions</code> section of your <code>tsconfig.json</code>:

<app-code-highlight code='
{
  "compilerOptions": {
    "emitDecoratorMetadata": true
  }
}
'></app-code-highlight>

<p>Install the <strong>Django package</strong> in your project:</p>

<app-code-highlight code="$ pip install -U angular-django"></app-code-highlight>

<p>Add the app in the <code>INSTALLED_APPS</code> list in your <code>settings.py</code> file:</p>

<app-code-highlight code="
INSTALLED_APPS = [
    # ...
    'rest_framework',
    'angular_django',
]
"></app-code-highlight>
