<div *ngIf="(speciePage$ | async) as page; else loading">
  <ul>
    <li *ngFor="let specie of page">{{ specie.identifier }}</li>
  </ul>
  <div class="change-page">
    <button [routerLink]="" (click)="speciePage$ = page.previous()"
            [disabled]="!page.hasPreviousPage">Previous</button>
    <span>Page {{ page.currentPage }}</span>
    <button [routerLink]="" (click)="speciePage$ = page.next()"
            [disabled]="!page.hasNextPage">Next</button>
  </div>
</div>
<ng-template #loading><div class="loading">Loading species...</div></ng-template>
