<mat-table [dataSource]="data" matSort matSortDisableClear>

<!--    <ng-container matColumnDef="select">-->
<!--      <mat-header-cell *matHeaderCellDef>-->
<!--        <mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--                      [checked]="selection.hasValue() && isAllSelected()"-->
<!--                      [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--        </mat-checkbox>-->
<!--      </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row">-->
<!--        <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                      (change)="$event ? selection.toggle(row.id) : null"-->
<!--                      [checked]="selection.isSelected(row.id)">-->
<!--        </mat-checkbox>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->


    <ng-container [matColumnDef]="column.name" *ngFor="let column of displayedColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.ordering">
          {{ column.name }}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="columnDefsByName[column.name]; else defaultCell">
            <ng-container
              *ngTemplateOutlet="columnDefsByName[column.name].cell.template; context: {$implicit: row}"></ng-container>
          </ng-container>

          <ng-template #defaultCell>
            <ng-container *ngIf="row[column.name].getName; else defaultValue">
              {{ row[column.name].getName() }}
            </ng-container>
            <ng-template #defaultValue>{{ row[column.name] }}</ng-template>
          </ng-template>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsNames"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumnsNames;" (click)="onRowClick(row, $event)"></mat-row>
</mat-table>
<mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>

<!--<div fxLayout="row">-->
<!--    <div fxFlex fxLayoutAlign="left center" class="selections-info">-->
<!--        <span *ngIf="selection.selected.length > 1 && !selectedAllPages">{{ selection.selected.length }} items selected</span>-->
<!--        <span *ngIf="selection.selected.length === 1">One item selected</span>-->
<!--        <span *ngIf="selection.selected.length >= pageSize && itemsLength > selection.selected.length && !selectedAllPages"-->
<!--              (click)="setSelectedAllPages()" class="select-all">-->
<!--                (Select {{ itemsLength }} items)-->
<!--        </span>-->
<!--        <span *ngIf="selectedAllPages">-->
<!--            Selected {{ itemsLength }} items-->
<!--        </span>-->
<!--    </div>-->
<!--    <mat-paginator [length]="itemsLength" [pageSize]="pageSize"-->
<!--                   [pageSizeOptions]="[10, 20, 50, 100]">-->
<!--    </mat-paginator>-->
<!--</div>-->
