<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Placeholder" [(ngModel)]="search">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<adm-table [api]="specieApi" [columns]="columnNames" [pageSizeOptions]="pageSizeOptions" [search]="search">
  <ng-container admColumnDef="generation">
      <div *admCellDef="let row">
        {{ row.generation.identifier }}
      </div>
  </ng-container>
  <ng-container admColumnDef="color">
      <div *admCellDef="let row">
        {{ row|getDisplay:'color'|async }}
      </div>
  </ng-container>
</adm-table>
