<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Placeholder" [(ngModel)]="search">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<adm-table [api]="specieApi" [columns]="columnNames" [(resultsCount)]="resultsCount" [(pageSize)]="pageSize"
            [pageSizeOptions]="pageSizeOptions" [search]="search" [pageSize]="pageSize" [paginator]="paginator">
  <ng-container admColumnDef="generation">
      <div *admCellDef="let row">
        {{ row.generation.identifier }}
      </div>
  </ng-container>
  <ng-container admColumnDef="color">
      <div *admCellDef="let row">
        {{ row|getDisplay:'color'|async }}
      </div>
  </ng-container>
</adm-table>
<mat-paginator [length]="resultsCount" [pageSize]="pageSize" #paginator
               [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
