<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-app-name">Angular Django</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/installation">Installation</a>
        <a mat-list-item routerLink="/first-steps">First steps</a>
        <a mat-list-item routerLink="/retrieve-api-service">Retrieve api service</a>
        <a mat-list-item routerLink="/list-api-service">List api service</a>
        <a mat-list-item routerLink="/form-api-service">Create or update</a>
        <a mat-list-item routerLink="/material-components">Material</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="min-height: calc(100vh - 64px)">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

